
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .7s;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
}

.nav{
    height: 99px;
    width: 100%;
}

.top_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    flex-flow: row nowrap;
    height: 60px;
}

.iiiimg{
    width: 139px;
    height: 55px;
    padding: 10px;
}

.glow-ingress-block{
    width: 109px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-line-1{
    p{
        color: rgb(255, 255, 255);
        font-size: 13px;
    }
}

.nav-line-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        font-size: 16px;
        color: white;
    }

    p{
        font-size: 16px;
        color: white;
    }
}

.nav_bar-searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar-searchbox-products{
    width: 176px;
    height: 38px;
    border-radius: 3px;
    color: rgb(117, 117, 117);
    font-weight: 400;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-right: -7px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    border: none;
}

.nav_bar-searchplace{
    display: block;
    width: 552px;
    line-height: 15px;
    padding: 7px 10px 10px 0;
    margin: 0;
    border: 0;
    height: 38px;
    font-family: inherit;
    font-size: 15px;
    background: 0 0;
    color: rgb(49, 49, 49);
    background-color: white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
    border-left: 2px rgb(158, 158, 158) solid;
    z-index: 2;
}

.nav_bar-search-icon{
    height: 38px;
    background-color: rgb(255, 174, 0);
    width: 50px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-indent: -1000px;
    line-height: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-magnifying-glass{
    color: rgb(113, 113, 113);
    font-size: 20px;
    z-index: 4;
    margin-right: -475px;
}

.nav_bar-flag-usa{
    width: 24px;
    height: 18px;
}

.nav_bar-flag{
    i{
        color: rgb(177, 177, 177);
        font-size: 16px;
    }
}

.nav_bar-first-name{
    width: 143px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_bar-first-name-text{
    p{
        font-size: 13px;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        padding-right: 9px;
        font-family: inherit;
        color: rgb(255, 255, 255);
    }
}

.nav_bar-first-name-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        clear: both;
        display: inline-block;
        white-space: nowrap;
        padding-right: 9px;
        font-family: inherit;
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    i{
        color: rgb(177, 177, 177);
        font-size: 16px;
    }
}

.nav_bar-second-name{
    height: 50px;
    width: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_bar-second-name :first-child{
    color: white;
    font-size: 13px;
}


.nav_bar-second-name :last-child{
    color: white;
    font-size: 16px;
}

.nav_bar-second-crate{
    height: 50px;
    width: 155px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i{
        font-size: 16px;
        color: white;
    }

    p{
        font-size: 16px;
        color: white;
    }
}   

.bottom_nav{
    width: 100%;
    height: 39px;
    background-color: rgb(53, 53, 71);
}

.bottom_nav-items-menu{
    width: 65px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        color: white;
        font-size: 20px;
    }

    p{
        font-size: 30px;
        font-weight: 900px;
        font-family: sans-serif;
    }
}


.bottom_nav-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 600px;
    margin-left: -20px;
    padding-top: 5px;
    p{
        font-size: 16px;
        color: white;
    }
}

#main{
    width: 100%;
}

.section{
    width: 100%;
    height: 296px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_LPHeader_Gamers_de_DE.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 100px;
        color: white;
    }
}

.section_grid-products{
    h1{
        text-align: center;
        font-size: 41px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.section_grid-products-degree{
    display: grid;
    grid-template-columns: repeat(5, 280px);
    grid-template-rows: repeat(3, 301px);
    grid-gap: 10px;
}

.section_grid-products-degree-numbers{
    width: 280px;
    height: 301px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    img{
        width: 253px;
        height: 221px;
    }

    p{
        font-style: 20px;
        text-align: center;
    }
}

.section_zoom{
    height: 60px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    padding: 15px 0;
    p{
        line-height: 19px;
        text-align: center;
        color: white;
    }
}


.section_footer{
    height: 301px;
    border-bottom: rgb(180, 180, 180) solid 1px;
    width: 100%;
    padding: 20px 314px;
    background-color: rgb(35, 34, 34);
}


.section_footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_footer-text-rows{
    p{
        color: rgb(154, 154, 154);
        font-size: 16px;
        gap: 5px;
        margin: 5px 0;
    }
}

.section_footer-amazon{
    padding: 40px 400px;
    width: 100%;
    height: 68px;
    background-color: rgb(35, 34, 34);
}

.section_footer-amazon-cadrs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lalila{
    width: 76px;
    height: 23px;
}

.btn1{
    width: 121px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px white solid;
    border-radius: 5px;
    background: none;
    padding: 5px 10px;
    color: white;
}

.btn2{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px white solid;
    border-radius: 5px;
    background: none;
    padding: 5px 10px;
    color: white;
}

.btn3{
    width: 247px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px white solid;
    border-radius: 5px;
    background: none;
    padding: 5px 10px;
    color: white;
}